<style></style>
<div
  style="
    display: block;
    color: darkblue;
    font-size: large;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
  "
>
  Contact Book
</div>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li [hidden]="auth.isLoggedIn" class="nav-item">
        <a class="nav-link" routerLink="/sign-in" routerLinkActive="sign-in"
          >Sign In</a
        >
      </li>
      <li [hidden]="auth.isLoggedIn" class="nav-item">
        <a
          class="nav-link"
          routerLink="/create-account"
          routerLinkActive="active"
          >Create Account</a
        >
      </li>
      <li [hidden]="!auth.isLoggedIn" class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"
          >Profile</a
        >
      </li>
      <li [hidden]="!auth.isLoggedIn" class="nav-item">
        <a
          class="nav-link"
          routerLink="/search_contacts"
          routerLinkActive="active"
          >Search</a
        >
      </li>
      <li [hidden]="!auth.isLoggedIn" class="nav-item">
        <a class="nav-link" routerLink="/add_contacts" routerLinkActive="active"
          >Add</a
        >
      </li>
    </ul>

    <button
      [hidden]="!auth.isLoggedIn"
      class="btn-danger"
      (click)="auth.SignOut()"
    >
      Log out
    </button>
  </div>
</nav>
<br />
<br />
<router-outlet></router-outlet>
